name: docs
on:
  push:
    branches:
        - master
  pull_request:
    branches:
        - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: "3.7"
      - name: Install Flit
        run: python3.7 -m pip install flit
      - name: Install docs extras
        run: python3.7 -m flit install --extras doc
      - name: Build MkDocs
        run: bash scripts/build-docs.sh
      - name: deploy to S3
        uses: jakejarvis/s3-sync-action@master
        with:
            args: --acl public-read --follow-symlinks --delete
        env:
            AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
            AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
            AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            AWS_REGION: 'eu-west-1'
            SOURCE_DIR: 'site'
